@import "base";
@import "vendor/normalize";
@import "colors";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  touch-action: manipulation;
  background: black;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  /* no underline */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}