$ICON_SIZE: 24px;
$ICON_SIZE_HALF: 12px;
$ICON_SIZE_DOUBLE: 48px;

.icon {
  height: $ICON_SIZE;
  min-width: $ICON_SIZE;
  max-width: $ICON_SIZE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.halfWide {
  composes: icon;
  height: $ICON_SIZE_HALF;
  min-width: $ICON_SIZE_HALF;
  max-width: $ICON_SIZE_HALF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.doubleWide {
  composes: icon;
  height: $ICON_SIZE;
  min-width: $ICON_SIZE_DOUBLE;
  max-width: $ICON_SIZE_DOUBLE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}