.body {
  background-color: black;
  margin: 0;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.sidebar {
  order: 1;
  background-color: green;
  min-width: 300px;
  max-width: 400px;
}

.lrg-content {
  order: 2;
  background-color: gray;
  flex-grow: 1;
}

.right {
  float: right;
}